@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<body>
    <h1> Exercise 2: Image Searching Website</h1>
    <hr class="solid_Line" style="border-top:3px solid #bbb2" />
    Search your Image here:
    <input type="text" value="Kung Fu Panda">
    <input type="button" value="Search" />
    <br />
    <img src="https://imgproxy.jyllands-posten.dk/vjAYL8nvZkAyT1Dn9FbTjiihndoiSBbmXE5Jy2NPGrI/plain/https%3A%2F%2Fbilleder.jyllands-posten.dk%2Fpictures%2Fimage%2F3178414%2F8r4d3r%2FALTERNATES%2Fmaster-free%2Fkung-fu-panda" height="300" width="300" alt="Fb Image" style="margin-top:10px; margin-bottom:10px" />
    <br />
    <a href="http://en.wikipedia.org/wiki/Facebook">For more click here</a>
    <hr class="solid_Line" style="border-top:3px solid #bbb2" />
    <form>
        <h5>Feedback Form:</h5>
        Name:<br>
        <input type="text" value="">
        <br>
        Date:<br>
        <input type="text" value="dd/mm/yyyy">
        <br>
        Comment:<br>
        <input type="text" value="" style=" width:300px; height:100px;":>
        <br>
        <input type="button" value="Submit" style="margin-top:10px" />
    </form>
    <div>
    </div>
</body>
</html>